body {
    margin: 0px;
 }
 
 nav {
    background-color: gray;
    padding: 1.5rem;
 }
 
 nav ul li {
    display: inline;
    margin: 1.5rem;
    color: white;
 }
 
 figure {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
 }

 h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
 }

 section {
    background-color: #efefef;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }
 
 footer {
    margin-bottom: 100px;
 }